<footer>
<hr />
<p>
	<a href="https://spamty.eu/index.php">Spamty Website</a> |
	<a href="https://blog.spamty.eu/">Blog</a> |
	<a href="https://spamty.eu/privacy.php">Privacy Policy</a> |
	<a href="https://spamty.eu/legal.php">Legal Notice</a> |
	<a href="https://spamty.eu/contact.php">Contact</a> 
</p>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
	<script src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</footer>
