<footer>
<hr />
<p>
	<a href="http://spamty.eu/index.php">Spamty Website</a> | 
	<a href="http://blog.spamty.eu/">Blog</a> | 
	<a href="http://spamty.eu/privacy.php">Privacy Policy</a> |
	<a href="http://spamty.eu/legal.php">Legal Notice</a> |
	<a href="http://spamty.eu/contact.php">Contact</a> 
</p>

<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</footer>