<footer>
<hr />
<p>
	<a href="https://spamty.eu/index.php">Spamty Website</a> | 
	<a href="https://blog.spamty.eu/">Blog</a> | 
	<a href="https://spamty.eu/privacy.php">Privacy Policy</a> |
	<a href="https://spamty.eu/legal.php">Legal Notice</a> |
	<a href="https://spamty.eu/contact-dev.php">Contact</a> 
</p>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</footer>